NODE_ENV=production
DB_HOST=SEU_HOST_DB
DB_PORT=3306
DB_USER=SEU_USUARIO_DB
DB_PASSWORD=SUA_SENHA_DB
DB_NAME=SEU_BANCO_DB
PORT=3003
HELENA_CRM_TOKEN=SEU_TOKEN_HELENA
WEBHOOK_SECRET=GERE_UMA_SENHA_FORTE_AQUI
